


<div class="container">
    <div class="row">

        <div *ngFor="let gif of gifs">
          {{ gif.data }}
          </div>

          <div class="card col-auto">
            <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
          </div>
          
          <div class="card col-auto">
            <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
          </div>

          <div class="card col-auto">
            <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
          </div>
          <div class="card col-auto">
            <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
          </div>

          <div class="card col-auto">
            <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
          </div>
          <div class="card col-auto">
            <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
          </div>

    

      

        <div class="card col-auto">
          <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
        </div>
        
        <div class="card col-auto">
          <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
        </div>

        <div class="card col-auto">
          <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
        </div>
        <div class="card col-auto">
          <img src="https://media0.giphy.com/media/l51YsG62a3p2IstkvP/200_d.gif?cid=37fc38de003b0c1b4e554851f32fa1d87efefbbd4bbb2435&rid=200_d.gif" alt="gif">
        </div>


  </div>




</div>
