
.nav-bar{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-links{
    display: flex;
    flex-direction: row;
}
.nav-items{
    margin: 5px;
    list-style: none;
}
.nav-items:hover{
    cursor: pointer;
    color: #A8DADC;
    border-bottom: 1px solid #A8DADC ;
}

.title{
    color: #1D3557;
    font-size: 30px;
}
.title:hover{
    color: #A8DADC;
    cursor: pointer;
}